<!-- Container Filter -->
<div class="flex flex-col justify-items-center content-center p-4">

  <!-- Container Label -->
  <div class="mb-4">
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select Country</label>
  </div>
  <!-- End Container Label -->

  <!-- Container Select -->
  <div class="flex flex-col gap-4 md:flex-row md:items-center">
    <select
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mb-4 md:mb-0"
      [(ngModel)]="country"
      name="country"
    >
      <option
        *ngFor="let country of countries; let index"
        [value]="country.countryCode"
      >
        {{country.country}}
      </option>
    </select>
    <div>
      <button class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center md:ml-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800" (click)="sendFilters()">
        <i class="fa-solid fa-volume-high text-white"></i>
      </button>
    </div>
  </div>
  <!-- End Container Select -->

</div>
<!-- End Container Filter -->




