


<div class="flex flex-col justify-items-center mx-7 ">
  <div>
    <label class="block text-sm font-medium leading-6 text-gray-50 mb-1">Select Country</label>
  </div>
  <!--  -->
  <div class="flex gap-4">
    <select
      class="block rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
      [(ngModel)]="country"
      name="country"

    >
      <option
        *ngFor="let country of countries; let index"
        [value]="country.countryCode"

        >
        {{country.country}}
      </option>
    </select>
    <div>
      <button (click)="sendFilters()"><i class="fa-solid fa-volume-high text-white"></i></button>
    </div>
  </div>

</div>

